In [1]:
import pandas as pd

In [2]:
pwd

u'/Users/DRN/capstone/jupyternotebooks'

In [4]:
annual_attendance = pd.read_csv('../rawfiles/attendance/2015attendance.csv',
                                usecols=['Tm', 'Attendance', 'Attend/G', 'BatAge', 'PAge', 'BPF', 'PPF',
                                        '#A-S', '#a-tA-S', 'Est. Payroll'],
                                dtype={'Attendance': float, 'Attend/G': float, 'BPF': float, 'PPF': float,
                                      'Est.Payroll': float})

In [5]:
annual_attendance.head()

,Tm,Attendance,Attend/G,BatAge,PAge,BPF,PPF,#A-S,#a-tA-S,Est. Payroll
0,ARI,2080145.0,25681.0,26.6,27.1,105.0,105.0,2,5,$64434000
1,ATL,2001392.0,24709.0,28.8,26.6,97.0,98.0,1,10,$104037500
2,BAL,2281202.0,29246.0,27.9,28.3,102.0,102.0,4,11,$112989833
3,BOS,2880694.0,35564.0,28.4,28.6,107.0,107.0,1,19,$183931900
4,CHC,2919122.0,36039.0,26.9,29.3,98.0,97.0,2,14,$115306610

In [6]:
annual_attendance.dtypes

Tm               object
Attendance      float64
Attend/G        float64
BatAge          float64
PAge            float64
BPF             float64
PPF             float64
#A-S              int64
#a-tA-S           int64
Est. Payroll     object
dtype: object

In [11]:
annual_attendance.rename(columns={'Tm': 'team', 'Attendance': 'attend', 'Attend/G': 'attend_per_game', 
                                  'BatAge': 'bat_age', 'PAge': 'pit_age', 'BPF': 'bpf', 'PPF': 'ppf', '#A-S': 'allstars',
                                  '#a-tA-S': 'total_allstars', 'Est. Payroll': 'payroll_2015'}, inplace=True)

In [12]:
annual_attendance.head(2)

,team,attend,attend_per_game,bat_age,pit_age,bpf,ppf,allstars,total_allstars,payroll_2015
0,ARI,2080145.0,25681.0,26.6,27.1,105.0,105.0,2,5,$64434000
1,ATL,2001392.0,24709.0,28.8,26.6,97.0,98.0,1,10,$104037500

In [13]:
annual_attendance['payroll_2015'] = annual_attendance.payroll_2015.str.replace('$', '').astype(float)

In [14]:
annual_attendance.head(2)

,team,attend,attend_per_game,bat_age,pit_age,bpf,ppf,allstars,total_allstars,payroll_2015
0,ARI,2080145.0,25681.0,26.6,27.1,105.0,105.0,2,5,64434000.0
1,ATL,2001392.0,24709.0,28.8,26.6,97.0,98.0,1,10,104037500.0

In [15]:
teamzipper = dict(zip(['BOS', 'ARI', 'BAL', 'PHI', 'NYM', 'CHC', 'MIN', 'ATL', 'SFG', 'TEX', 'SDP', 'OAK','TBR', 
                'COL', 'WSN','KCR', 'TOR', 'NYY', 'MIA', 'DET', 'STL','PIT', 'CHW', 'MIL', 'CIN', 'HOU', 
                'CLE', 'LAD', 'LAA','SEA'], range(0,31)))

In [17]:
for row in ["team"]:
    annual_attendance[row] = annual_attendance[row].apply(lambda x: teamzipper[x])

In [21]:
annual_attendance.to_csv('annual_attendance_2015.csv', sep='\t', encoding='utf-8')