In [4]:
import pandas as pd
import glob
import os

In [6]:
pwd

u'/Users/DRN/capstone/jupyternotebooks'

In [7]:
path = r'\DRN\capstone\data\google'
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

ValueError: No objects to concatenate

In [1]:
import pandas as pd

In [2]:
pwd

u'/Users/DRN/capstone/jupyternotebooks'

In [5]:
google = pd.read_csv('../data/cleandata/google_interest_2015.csv', sep='\t', index_col=0, encoding='utf-8')

In [6]:
google.head()

,Week,ARI,ATL,BAL,BOS,CHC,CIN,CLE,COL,CHW,...,PHI,PIT,SDP,SEA,SFG,STL,TBR,TEX,TOR,WSH
0,1/4/15,18,18,9,17,4,11,8,11,15,...,12,8,16,11,0,11,17,5,3,12
1,1/11/15,15,21,10,19,4,9,10,13,16,...,13,9,14,14,0,11,19,5,3,15
2,1/18/15,18,19,9,20,6,12,11,13,17,...,14,9,12,19,0,12,17,7,3,31
3,1/25/15,14,18,9,18,5,10,11,14,18,...,15,9,12,14,0,11,15,6,3,15
4,2/1/15,16,17,9,18,4,11,10,14,14,...,15,9,18,18,43,12,17,7,3,17

In [10]:
google.rename(columns={'Week': 'week'}, inplace=True)

In [19]:
google['week'] =  pd.to_datetime(google['week'], format='%m/%d/%y')

In [14]:
google.head()

,week,ARI,ATL,BAL,BOS,CHC,CIN,CLE,COL,CHW,...,PHI,PIT,SDP,SEA,SFG,STL,TBR,TEX,TOR,WSH
0,2015-01-04,18,18,9,17,4,11,8,11,15,...,12,8,16,11,0,11,17,5,3,12
1,2015-01-11,15,21,10,19,4,9,10,13,16,...,13,9,14,14,0,11,19,5,3,15
2,2015-01-18,18,19,9,20,6,12,11,13,17,...,14,9,12,19,0,12,17,7,3,31
3,2015-01-25,14,18,9,18,5,10,11,14,18,...,15,9,12,14,0,11,15,6,3,15
4,2015-02-01,16,17,9,18,4,11,10,14,14,...,15,9,18,18,43,12,17,7,3,17

In [17]:
google.dtypes

week    datetime64[ns]
ARI              int64
ATL              int64
BAL              int64
BOS              int64
CHC              int64
CIN              int64
CLE              int64
COL              int64
CHW              int64
DET              int64
HOU              int64
KCR              int64
LAA              int64
LAD              int64
MIA              int64
MIL              int64
MIN              int64
NYM              int64
NYY              int64
OAK              int64
PHI              int64
PIT              int64
SDP              int64
SEA              int64
SFG              int64
STL              int64
TBR              int64
TEX              int64
TOR              int64
WSH              int64
dtype: object

In [16]:
google.to_csv('google_interest_2015.csv', sep='\t', encoding='utf-8')