In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])

In [10]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'], index=['a', 'b', 'c'])

    id color
a  100   red
b  101  blue
c  102   red

In [11]:
import numpy as np

In [14]:
arr = np.random.rand(4, 2)

In [15]:
arr

array([[ 0.60141381,  0.75643954],
       [ 0.7616388 ,  0.69024868],
       [ 0.45281449,  0.67886052],
       [ 0.17991323,  0.18477579]])

In [18]:
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.601414  0.756440
1  0.761639  0.690249
2  0.452814  0.678861
3  0.179913  0.184776

In [21]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})

   student  test
0      100    95
1      101    86
2      102    64
3      103    80
4      104    81
5      105    80
6      106    70
7      107    64
8      108    75
9      109    61

In [25]:
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')

In [26]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [27]:
pd.concat([df, s], axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round

In [28]:
train = pd.read_csv('http://bit.ly/kaggletrain')

In [29]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [30]:
train['Sex_num'] = train.Sex.map({'female':0, 'male':1})

In [32]:
train.loc[0:4, ['Sex', 'Sex_num']]

      Sex  Sex_num
0    male        1
1  female        0
2  female        0
3  female        0
4    male        1

In [33]:
train['name_length'] = train.Name.apply(len)

In [36]:
train.loc[0:4, ['Name', 'name_length']]

                                                Name  name_length
0                            Braund, Mr. Owen Harris           23
1  Cumings, Mrs. John Bradley (Florence Briggs Th...           51
2                             Heikkinen, Miss. Laina           22
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)           44
4                           Allen, Mr. William Henry           24

In [37]:
import numpy as np

In [38]:
train['Fare_ceil'] = train.Fare.apply(np.ceil)

In [39]:
train.loc[0:4, ['Fare', 'Fare_ceil']]

      Fare  Fare_ceil
0   7.2500        8.0
1  71.2833       72.0
2   7.9250        8.0
3  53.1000       54.0
4   8.0500        9.0

In [40]:
train.Name.str.split(',').head()

0                           [Braund,  Mr. Owen Harris]
1    [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                            [Heikkinen,  Miss. Laina]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
Name: Name, dtype: object

In [41]:
def get_element(my_list, position):
    return my_list[position]

In [44]:
train.Name.str.split(',').apply(get_element, position=0).head()

0       Braund
1      Cumings
2    Heikkinen
3     Futrelle
4        Allen
Name: Name, dtype: object

In [45]:
train.Name.str.split(',').apply(lambda x: x[0]).head()

0       Braund
1      Cumings
2    Heikkinen
3     Futrelle
4        Allen
Name: Name, dtype: object

In [46]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [47]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [52]:
drinks.loc[:, 'beer_servings':'wine_servings'].applymap(float)

     beer_servings  spirit_servings  wine_servings
0              0.0              0.0            0.0
1             89.0            132.0           54.0
2             25.0              0.0           14.0
3            245.0            138.0          312.0
4            217.0             57.0           45.0
5            102.0            128.0           45.0
6            193.0             25.0          221.0
7             21.0            179.0           11.0
8            261.0             72.0          212.0
9            279.0             75.0          191.0
10            21.0             46.0            5.0
11           122.0            176.0           51.0
12            42.0             63.0            7.0
13             0.0              0.0            0.0
14           143.0            173.0           36.0
15           142.0            373.0           42.0
16           295.0             84.0          212.0
17           263.0            114.0            8.0
18            34.0              4.0           13.0
19            23.0              0.0            0.0
20           167.0             41.0            8.0
21            76.0            173.0            8.0
22           173.0             35.0           35.0
23           245.0            145.0           16.0
24            31.0              2.0            1.0
25           231.0            252.0           94.0
26            25.0              7.0            7.0
27            88.0              0.0            0.0
28            37.0              1.0            7.0
29           144.0             56.0           16.0
..             ...              ...            ...
163          128.0            178.0            7.0
164           90.0              2.0            2.0
165          152.0             60.0          186.0
166          185.0            100.0          280.0
167            5.0             35.0           16.0
168            2.0             15.0            0.0
169           99.0            258.0            1.0
170          106.0             27.0           86.0
171            1.0              1.0            4.0
172           36.0              2.0           19.0
173           36.0             21.0            5.0
174          197.0            156.0            7.0
175           51.0              3.0           20.0
176           51.0             22.0            7.0
177           19.0             71.0           32.0
178            6.0             41.0            9.0
179           45.0              9.0            0.0
180          206.0            237.0           45.0
181           16.0            135.0            5.0
182          219.0            126.0          195.0
183           36.0              6.0            1.0
184          249.0            158.0           84.0
185          115.0             35.0          220.0
186           25.0            101.0            8.0
187           21.0             18.0           11.0
188          333.0            100.0            3.0
189          111.0              2.0            1.0
190            6.0              0.0            0.0
191           32.0             19.0            4.0
192           64.0             18.0            4.0

[193 rows x 3 columns]